USE [ql]
GO
/****** Object:  Table [dbo].[admin_AccessGroupUserForm]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_AccessGroupUserForm](
	[guf_id] [int] IDENTITY(1,1) NOT NULL,
	[guf_active] [bit] NULL,
	[groupuser_id] [int] NULL,
	[form_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[guf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[admin_AccessGroupUserModule]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_AccessGroupUserModule](
	[gum_id] [int] IDENTITY(1,1) NOT NULL,
	[gum_active] [bit] NULL,
	[groupuser_id] [int] NULL,
	[module_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[gum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[admin_AccessUserForm]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_AccessUserForm](
	[uf_id] [int] IDENTITY(1,1) NOT NULL,
	[uf_active] [bit] NULL,
	[username_id] [int] NULL,
	[form_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[uf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[admin_Form]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_Form](
	[form_id] [int] IDENTITY(1,1) NOT NULL,
	[form_position] [int] NULL,
	[form_name] [nvarchar](max) NULL,
	[form_link] [nvarchar](max) NULL,
	[form_active] [bit] NULL,
	[module_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[form_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[admin_GroupUser]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_GroupUser](
	[groupuser_id] [int] IDENTITY(1,1) NOT NULL,
	[groupuser_name] [nvarchar](max) NULL,
	[groupuser_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[groupuser_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[admin_Module]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_Module](
	[module_id] [int] IDENTITY(1,1) NOT NULL,
	[module_position] [int] NULL,
	[module_name] [nvarchar](max) NULL,
	[module_icon] [nvarchar](max) NULL,
	[module_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[admin_User]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_User](
	[username_id] [int] IDENTITY(1,1) NOT NULL,
	[username_username] [nvarchar](max) NULL,
	[username_password] [nvarchar](max) NULL,
	[username_fullname] [nvarchar](max) NULL,
	[username_gender] [bit] NULL,
	[username_phone] [nvarchar](max) NULL,
	[username_email] [nvarchar](max) NULL,
	[username_active] [bit] NULL,
	[groupuser_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[username_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbChuongTrinhKhuyenMai]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChuongTrinhKhuyenMai](
	[khuyenmai_id] [int] IDENTITY(1,1) NOT NULL,
	[khuyenmai_name] [nvarchar](max) NULL,
	[khuyenmai_content] [nvarchar](max) NULL,
	[khuyenmai_percent] [nvarchar](max) NULL,
	[khuyenmai_image] [nvarchar](max) NULL,
	[khuyenmai_tungay] [datetime] NULL,
	[khuyenmai_denngay] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[khuyenmai_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbCity]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCity](
	[city_id] [int] IDENTITY(1,1) NOT NULL,
	[city_name] [nvarchar](max) NULL,
	[city_position] [int] NULL,
	[city_show] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbCustomerAccount]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCustomerAccount](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_firstname] [nvarchar](max) NULL,
	[customer_lastname] [nvarchar](max) NULL,
	[customer_fullname] [nvarchar](max) NULL,
	[customer_phone] [nvarchar](max) NULL,
	[customer_email] [nvarchar](max) NULL,
	[customer_address] [nvarchar](max) NULL,
	[hidden] [bit] NULL,
	[customer_user] [nvarchar](max) NULL,
	[customer_pass] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbDichVu]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDichVu](
	[dichvu_id] [int] IDENTITY(1,1) NOT NULL,
	[dichvu_title] [nvarchar](max) NULL,
	[dichvu_content] [nvarchar](max) NULL,
	[dichvu_price] [nvarchar](max) NULL,
	[dichvu_image] [nvarchar](max) NULL,
	[dvcate_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[dichvu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbHoaDonBanHang]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHoaDonBanHang](
	[hoadon_id] [int] IDENTITY(1,1) NOT NULL,
	[hoadon_code] [nvarchar](max) NULL,
	[khachhang_name] [nvarchar](max) NULL,
	[hoadon_tongtien] [nvarchar](max) NULL,
	[hoadon_giamgia] [nvarchar](max) NULL,
	[hoadon_phaitra] [nvarchar](max) NULL,
	[hoadon_createdate] [datetime] NULL,
	[nhanvien_id] [int] NULL,
	[hoadon_tongtiengiam] [nvarchar](max) NULL,
	[active] [bit] NULL,
	[khachhang_id] [int] NULL,
	[khuyenmai_id] [nvarchar](max) NULL,
	[hoadon_giothanhtoan] [datetime] NULL,
	[hidden] [bit] NULL,
	[hoadon_tinhtrang] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[hoadon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbHoaDonBanHangChiTiet]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHoaDonBanHangChiTiet](
	[hdct_id] [int] IDENTITY(1,1) NOT NULL,
	[hoadon_id] [int] NULL,
	[dichvu_id] [int] NULL,
	[product_id] [int] NULL,
	[hdct_soluong] [int] NULL,
	[hdct_createdate] [datetime] NULL,
	[nhanvien_id] [int] NULL,
	[hdct_price] [nvarchar](max) NULL,
	[hidden] [bit] NULL,
	[hdct_giamgia] [nvarchar](max) NULL,
	[khuyenmai_id] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[hdct_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbIntroduce]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbIntroduce](
	[introduct_id] [int] IDENTITY(1,1) NOT NULL,
	[introduce_title] [nvarchar](max) NULL,
	[introduce_summary] [nvarchar](max) NULL,
	[introduce_content] [nvarchar](max) NULL,
	[introduce_image] [nvarchar](max) NULL,
	[introduce_createdate] [datetime] NULL,
	[introduce_update_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[introduct_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbNewCate]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNewCate](
	[newcate_id] [int] IDENTITY(1,1) NOT NULL,
	[newcate_title] [nvarchar](max) NULL,
	[newcate_summary] [nvarchar](max) NULL,
	[hidden] [bit] NULL,
	[link_seo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[newcate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbNews]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNews](
	[news_id] [int] IDENTITY(1,1) NOT NULL,
	[news_title] [nvarchar](max) NULL,
	[news_summary] [nvarchar](max) NULL,
	[news_image] [nvarchar](max) NULL,
	[news_content] [nvarchar](max) NULL,
	[newcate_id] [int] NULL,
	[hidden] [bit] NULL,
	[active] [bit] NULL,
	[link_seo] [nvarchar](max) NULL,
	[news_createdate] [datetime] NULL,
	[news_position] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbNhapHang]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNhapHang](
	[nhaphang_id] [int] IDENTITY(1,1) NOT NULL,
	[nhaphang_code] [nvarchar](max) NULL,
	[nhaphang_createdate] [datetime] NULL,
	[nhaphang_content] [nvarchar](max) NULL,
	[username_id] [int] NULL,
	[hidden] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[nhaphang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbNhapHang_ChiTiet]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNhapHang_ChiTiet](
	[nhaphang_chitiet_id] [int] IDENTITY(1,1) NOT NULL,
	[nhaphang_id] [int] NULL,
	[product_id] [int] NULL,
	[nhaphang_chitiet_soluong] [int] NULL,
	[nhaphang_code] [nvarchar](max) NULL,
	[nhaphang_gianhap] [int] NULL,
	[nhaphang_thanhtien] [int] NULL,
	[username_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[nhaphang_chitiet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbProduct]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProduct](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_position] [int] NULL,
	[product_title] [nvarchar](max) NULL,
	[product_image] [nvarchar](max) NULL,
	[product_summary] [nvarchar](max) NULL,
	[product_content] [nvarchar](max) NULL,
	[product_quantum] [int] NULL,
	[product_show] [bit] NULL,
	[product_new] [bit] NULL,
	[productcate_id] [int] NULL,
	[title_web] [nvarchar](max) NULL,
	[meta_title] [nvarchar](max) NULL,
	[meta_keywords] [nvarchar](max) NULL,
	[meta_description] [nvarchar](max) NULL,
	[h1_seo] [nvarchar](max) NULL,
	[link_seo] [nvarchar](max) NULL,
	[product_chungloai] [nvarchar](max) NULL,
	[thuonghieu_id] [int] NULL,
	[meta_image] [nvarchar](max) NULL,
	[product_representative] [int] NULL,
	[product_cart] [int] NULL,
	[product_price_new] [int] NULL,
	[product_price] [int] NULL,
	[product_promotions] [int] NULL,
	[product_price_entry] [int] NULL,
	[hidden] [bit] NULL,
	[product_soluong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbProductCate]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProductCate](
	[productcate_id] [int] IDENTITY(1,1) NOT NULL,
	[productcate_position] [int] NULL,
	[productcate_title] [nvarchar](max) NULL,
	[productcate_show] [bit] NULL,
	[productgroup_id] [int] NULL,
	[title_web] [nvarchar](max) NULL,
	[meta_title] [nvarchar](max) NULL,
	[meta_keywords] [nvarchar](max) NULL,
	[meta_description] [nvarchar](max) NULL,
	[h1_seo] [nvarchar](max) NULL,
	[link_seo] [nvarchar](max) NULL,
	[productcate_parent] [int] NULL,
	[productcate_content] [nvarchar](max) NULL,
	[meta_image] [nvarchar](max) NULL,
	[active] [bit] NULL,
	[hidden] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[productcate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbSlide]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSlide](
	[slide_id] [int] IDENTITY(1,1) NOT NULL,
	[slide_image] [nvarchar](max) NULL,
	[slide_title] [nvarchar](max) NULL,
	[slide_title1] [nvarchar](max) NULL,
	[slide_link] [nvarchar](max) NULL,
	[slide_summary] [nvarchar](max) NULL,
	[slide_content] [nvarchar](max) NULL,
	[hidden] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[slide_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbXuatHang]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbXuatHang](
	[xuathang_id] [int] IDENTITY(1,1) NOT NULL,
	[xuathang_code] [nvarchar](max) NULL,
	[xuathang_createdate] [datetime] NULL,
	[xuathang_content] [nvarchar](max) NULL,
	[username_id] [int] NULL,
	[hidden] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[xuathang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbXuatHang_ChiTiet]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbXuatHang_ChiTiet](
	[xuathang_chitiet_id] [int] IDENTITY(1,1) NOT NULL,
	[xuathang_id] [int] NULL,
	[product_id] [int] NULL,
	[xuathang_chitiet_soluong] [int] NULL,
	[username_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[xuathang_chitiet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [hel13271_nails].[tbNhomDichVu]    Script Date: 12/28/2022 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hel13271_nails].[tbNhomDichVu](
	[dvcate_id] [int] IDENTITY(1,1) NOT NULL,
	[dvcate_name] [nvarchar](max) NULL,
	[position] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[dvcate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[admin_AccessGroupUserForm] ON 

INSERT [dbo].[admin_AccessGroupUserForm] ([guf_id], [guf_active], [groupuser_id], [form_id]) VALUES (1, 1, 1, 1)
INSERT [dbo].[admin_AccessGroupUserForm] ([guf_id], [guf_active], [groupuser_id], [form_id]) VALUES (2, 1, 1, 2)
INSERT [dbo].[admin_AccessGroupUserForm] ([guf_id], [guf_active], [groupuser_id], [form_id]) VALUES (3, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[admin_AccessGroupUserForm] OFF
SET IDENTITY_INSERT [dbo].[admin_AccessGroupUserModule] ON 

INSERT [dbo].[admin_AccessGroupUserModule] ([gum_id], [gum_active], [groupuser_id], [module_id]) VALUES (1, 1, 1, 1)
INSERT [dbo].[admin_AccessGroupUserModule] ([gum_id], [gum_active], [groupuser_id], [module_id]) VALUES (2, 1, 1, 2)
INSERT [dbo].[admin_AccessGroupUserModule] ([gum_id], [gum_active], [groupuser_id], [module_id]) VALUES (3, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[admin_AccessGroupUserModule] OFF
SET IDENTITY_INSERT [dbo].[admin_AccessUserForm] ON 

INSERT [dbo].[admin_AccessUserForm] ([uf_id], [uf_active], [username_id], [form_id]) VALUES (1, 1, 1, 1)
INSERT [dbo].[admin_AccessUserForm] ([uf_id], [uf_active], [username_id], [form_id]) VALUES (2, 1, 1, 2)
INSERT [dbo].[admin_AccessUserForm] ([uf_id], [uf_active], [username_id], [form_id]) VALUES (3, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[admin_AccessUserForm] OFF
SET IDENTITY_INSERT [dbo].[admin_Form] ON 

INSERT [dbo].[admin_Form] ([form_id], [form_position], [form_name], [form_link], [form_active], [module_id]) VALUES (1, 1, N'Quản lý phân quyền', N'admin-access', 1, 1)
INSERT [dbo].[admin_Form] ([form_id], [form_position], [form_name], [form_link], [form_active], [module_id]) VALUES (2, 2, N'Quản lý Module', N'admin-module', 1, 1)
INSERT [dbo].[admin_Form] ([form_id], [form_position], [form_name], [form_link], [form_active], [module_id]) VALUES (3, 3, N'Quản lý Form', N'admin-form', 1, 1)
SET IDENTITY_INSERT [dbo].[admin_Form] OFF
SET IDENTITY_INSERT [dbo].[admin_GroupUser] ON 

INSERT [dbo].[admin_GroupUser] ([groupuser_id], [groupuser_name], [groupuser_active]) VALUES (1, N'root', 1)
INSERT [dbo].[admin_GroupUser] ([groupuser_id], [groupuser_name], [groupuser_active]) VALUES (2, N'Admin', 1)
INSERT [dbo].[admin_GroupUser] ([groupuser_id], [groupuser_name], [groupuser_active]) VALUES (3, N'Nhân viên', 1)
SET IDENTITY_INSERT [dbo].[admin_GroupUser] OFF
SET IDENTITY_INSERT [dbo].[admin_Module] ON 

INSERT [dbo].[admin_Module] ([module_id], [module_position], [module_name], [module_icon], [module_active]) VALUES (1, 1, N'Phân quyền', N'', 1)
INSERT [dbo].[admin_Module] ([module_id], [module_position], [module_name], [module_icon], [module_active]) VALUES (2, 2, N'Tài khoản', N'fas fa-users', 1)
INSERT [dbo].[admin_Module] ([module_id], [module_position], [module_name], [module_icon], [module_active]) VALUES (3, 4, N'Quản lý sản phẩm', N'', 1)
SET IDENTITY_INSERT [dbo].[admin_Module] OFF
SET IDENTITY_INSERT [dbo].[admin_User] ON 

INSERT [dbo].[admin_User] ([username_id], [username_username], [username_password], [username_fullname], [username_gender], [username_phone], [username_email], [username_active], [groupuser_id]) VALUES (1, N'root', N'12378248145104161527610811213823414203124130', N'ROOT', 1, N'01634057167', N'qutienpro@gmail.com', 1, 1)
INSERT [dbo].[admin_User] ([username_id], [username_username], [username_password], [username_fullname], [username_gender], [username_phone], [username_email], [username_active], [groupuser_id]) VALUES (2, N'admin', N'12378248145104161527610811213823414203124130', N'Quản trị', 1, N'12345', N'quantri@hifiveplus.vn', 1, 2)
INSERT [dbo].[admin_User] ([username_id], [username_username], [username_password], [username_fullname], [username_gender], [username_phone], [username_email], [username_active], [groupuser_id]) VALUES (3, N'quy', N'12378248145104161527610811213823414203124130', N'Trịnh Xuân Vinh Quy', 0, N'67891', N'quy@gmail.com', 1, 3)
SET IDENTITY_INSERT [dbo].[admin_User] OFF
SET IDENTITY_INSERT [dbo].[tbChuongTrinhKhuyenMai] ON 

INSERT [dbo].[tbChuongTrinhKhuyenMai] ([khuyenmai_id], [khuyenmai_name], [khuyenmai_content], [khuyenmai_percent], [khuyenmai_image], [khuyenmai_tungay], [khuyenmai_denngay]) VALUES (1, N'Khuyến mãi cuối năm', N'Giảm giá 5% tất cả các sản phẩm tại cửa hàng, bạn cũng có thể ngoại trừ một số mặt hàng đặc trưng, hình thức này luôn được đánh giá là thu hút được nhiều sự chú ý và mang lại nhiều doanh thu hơn cho các cửa hàng bán lẻ.', N'10', N'/admin_images/up-img.png', CAST(N'2020-11-16 00:00:00.000' AS DateTime), CAST(N'2020-11-22 00:00:00.000' AS DateTime))
INSERT [dbo].[tbChuongTrinhKhuyenMai] ([khuyenmai_id], [khuyenmai_name], [khuyenmai_content], [khuyenmai_percent], [khuyenmai_image], [khuyenmai_tungay], [khuyenmai_denngay]) VALUES (2, N'Khuyến mãi khai trương', N'Nội dung khuyến mãi', N'20', N'/uploadimages/anh_khuyenmai/14112020_013116_CH_z2159486269357_fed878df4bb9a2d8c59f0dd58dadfb3c.jpg', CAST(N'2020-11-16 00:00:00.000' AS DateTime), CAST(N'2020-11-22 00:00:00.000' AS DateTime))
INSERT [dbo].[tbChuongTrinhKhuyenMai] ([khuyenmai_id], [khuyenmai_name], [khuyenmai_content], [khuyenmai_percent], [khuyenmai_image], [khuyenmai_tungay], [khuyenmai_denngay]) VALUES (3, N'Khuyến mãi', N'', N'5', N'/admin_images/up-img.png', CAST(N'2020-11-10 00:00:00.000' AS DateTime), CAST(N'2020-11-13 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbChuongTrinhKhuyenMai] OFF
SET IDENTITY_INSERT [dbo].[tbCity] ON 

INSERT [dbo].[tbCity] ([city_id], [city_name], [city_position], [city_show]) VALUES (1, N'An Giang', NULL, NULL)
INSERT [dbo].[tbCity] ([city_id], [city_name], [city_position], [city_show]) VALUES (2, N'Bà Rịa - Vũng Tàu
', NULL, NULL)
INSERT [dbo].[tbCity] ([city_id], [city_name], [city_position], [city_show]) VALUES (3, N'Bắc Giang
', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbCity] OFF
SET IDENTITY_INSERT [dbo].[tbCustomerAccount] ON 

INSERT [dbo].[tbCustomerAccount] ([customer_id], [customer_firstname], [customer_lastname], [customer_fullname], [customer_phone], [customer_email], [customer_address], [hidden], [customer_user], [customer_pass]) VALUES (1, NULL, NULL, N'Khách hàng 1', N'1', NULL, N'Đà Nẵng', 0, NULL, NULL)
INSERT [dbo].[tbCustomerAccount] ([customer_id], [customer_firstname], [customer_lastname], [customer_fullname], [customer_phone], [customer_email], [customer_address], [hidden], [customer_user], [customer_pass]) VALUES (2, NULL, NULL, N'Khách hàng 2', N'2', NULL, N'Đà Nẵng', 0, NULL, NULL)
INSERT [dbo].[tbCustomerAccount] ([customer_id], [customer_firstname], [customer_lastname], [customer_fullname], [customer_phone], [customer_email], [customer_address], [hidden], [customer_user], [customer_pass]) VALUES (3, NULL, NULL, N'Khách hàng 3', N'3', NULL, N'Đà Nẵng', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbCustomerAccount] OFF
SET IDENTITY_INSERT [dbo].[tbDichVu] ON 

SET IDENTITY_INSERT [dbo].[tbDichVu] OFF
SET IDENTITY_INSERT [dbo].[tbHoaDonBanHang] ON 

INSERT [dbo].[tbHoaDonBanHang] ([hoadon_id], [hoadon_code], [khachhang_name], [hoadon_tongtien], [hoadon_giamgia], [hoadon_phaitra], [hoadon_createdate], [nhanvien_id], [hoadon_tongtiengiam], [active], [khachhang_id], [khuyenmai_id], [hoadon_giothanhtoan], [hidden], [hoadon_tinhtrang]) VALUES (95, NULL, NULL, N'780000', NULL, NULL, CAST(N'2022-12-24 10:59:13.327' AS DateTime), NULL, NULL, NULL, 19, NULL, NULL, NULL, N'mua')
INSERT [dbo].[tbHoaDonBanHang] ([hoadon_id], [hoadon_code], [khachhang_name], [hoadon_tongtien], [hoadon_giamgia], [hoadon_phaitra], [hoadon_createdate], [nhanvien_id], [hoadon_tongtiengiam], [active], [khachhang_id], [khuyenmai_id], [hoadon_giothanhtoan], [hidden], [hoadon_tinhtrang]) VALUES (96, NULL, NULL, N'2350000', NULL, NULL, CAST(N'2022-12-24 11:22:08.913' AS DateTime), NULL, NULL, NULL, 19, NULL, NULL, NULL, N'mua')
INSERT [dbo].[tbHoaDonBanHang] ([hoadon_id], [hoadon_code], [khachhang_name], [hoadon_tongtien], [hoadon_giamgia], [hoadon_phaitra], [hoadon_createdate], [nhanvien_id], [hoadon_tongtiengiam], [active], [khachhang_id], [khuyenmai_id], [hoadon_giothanhtoan], [hidden], [hoadon_tinhtrang]) VALUES (97, NULL, NULL, N'200000', NULL, NULL, CAST(N'2022-12-26 18:00:17.557' AS DateTime), NULL, NULL, NULL, 19, NULL, NULL, NULL, N'mua')
SET IDENTITY_INSERT [dbo].[tbHoaDonBanHang] OFF
SET IDENTITY_INSERT [dbo].[tbHoaDonBanHangChiTiet] ON 

INSERT [dbo].[tbHoaDonBanHangChiTiet] ([hdct_id], [hoadon_id], [dichvu_id], [product_id], [hdct_soluong], [hdct_createdate], [nhanvien_id], [hdct_price], [hidden], [hdct_giamgia], [khuyenmai_id]) VALUES (287, 95, NULL, 21, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbHoaDonBanHangChiTiet] ([hdct_id], [hoadon_id], [dichvu_id], [product_id], [hdct_soluong], [hdct_createdate], [nhanvien_id], [hdct_price], [hidden], [hdct_giamgia], [khuyenmai_id]) VALUES (288, 95, NULL, 22, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbHoaDonBanHangChiTiet] ([hdct_id], [hoadon_id], [dichvu_id], [product_id], [hdct_soluong], [hdct_createdate], [nhanvien_id], [hdct_price], [hidden], [hdct_giamgia], [khuyenmai_id]) VALUES (289, 96, NULL, 19, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbHoaDonBanHangChiTiet] OFF
SET IDENTITY_INSERT [dbo].[tbIntroduce] ON 

SET IDENTITY_INSERT [dbo].[tbIntroduce] OFF
SET IDENTITY_INSERT [dbo].[tbNewCate] ON 

INSERT [dbo].[tbNewCate] ([newcate_id], [newcate_title], [newcate_summary], [hidden], [link_seo]) VALUES (1, N'Tin hôm nay', NULL, 0, NULL)
INSERT [dbo].[tbNewCate] ([newcate_id], [newcate_title], [newcate_summary], [hidden], [link_seo]) VALUES (2, N'Tin mới', NULL, 1, NULL)
INSERT [dbo].[tbNewCate] ([newcate_id], [newcate_title], [newcate_summary], [hidden], [link_seo]) VALUES (3, N'Tin nổi bật', NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[tbNewCate] OFF
SET IDENTITY_INSERT [dbo].[tbNews] ON 

SET IDENTITY_INSERT [dbo].[tbNews] OFF
SET IDENTITY_INSERT [dbo].[tbNhapHang] ON 

INSERT [dbo].[tbNhapHang] ([nhaphang_id], [nhaphang_code], [nhaphang_createdate], [nhaphang_content], [username_id], [hidden]) VALUES (1, N'NH00001', CAST(N'2020-11-13 13:38:38.653' AS DateTime), N'nhaphang_chitiet_soluong', 1, NULL)
INSERT [dbo].[tbNhapHang] ([nhaphang_id], [nhaphang_code], [nhaphang_createdate], [nhaphang_content], [username_id], [hidden]) VALUES (2, N'NH00002', CAST(N'2020-11-13 13:50:01.137' AS DateTime), N'bdashas', 1, NULL)
INSERT [dbo].[tbNhapHang] ([nhaphang_id], [nhaphang_code], [nhaphang_createdate], [nhaphang_content], [username_id], [hidden]) VALUES (3, N'NH00003', CAST(N'2020-11-14 09:46:33.827' AS DateTime), N'nhập hàng', 1, NULL)
SET IDENTITY_INSERT [dbo].[tbNhapHang] OFF
SET IDENTITY_INSERT [dbo].[tbNhapHang_ChiTiet] ON 

INSERT [dbo].[tbNhapHang_ChiTiet] ([nhaphang_chitiet_id], [nhaphang_id], [product_id], [nhaphang_chitiet_soluong], [nhaphang_code], [nhaphang_gianhap], [nhaphang_thanhtien], [username_id]) VALUES (1, 1, 1, 2, N'NH00001', 150000, 300000, 1)
INSERT [dbo].[tbNhapHang_ChiTiet] ([nhaphang_chitiet_id], [nhaphang_id], [product_id], [nhaphang_chitiet_soluong], [nhaphang_code], [nhaphang_gianhap], [nhaphang_thanhtien], [username_id]) VALUES (4, 1, 2, 1, N'NH00001', 200000, 200000, 1)
INSERT [dbo].[tbNhapHang_ChiTiet] ([nhaphang_chitiet_id], [nhaphang_id], [product_id], [nhaphang_chitiet_soluong], [nhaphang_code], [nhaphang_gianhap], [nhaphang_thanhtien], [username_id]) VALUES (9, 3, 2, 2, N'NH00003', 100000, 200000, 1)
SET IDENTITY_INSERT [dbo].[tbNhapHang_ChiTiet] OFF
SET IDENTITY_INSERT [dbo].[tbProduct] ON 

SET IDENTITY_INSERT [dbo].[tbProduct] OFF
SET IDENTITY_INSERT [dbo].[tbProductCate] ON 

INSERT [dbo].[tbProductCate] ([productcate_id], [productcate_position], [productcate_title], [productcate_show], [productgroup_id], [title_web], [meta_title], [meta_keywords], [meta_description], [h1_seo], [link_seo], [productcate_parent], [productcate_content], [meta_image], [active], [hidden]) VALUES (6, NULL, N'Đồ Nữ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[tbProductCate] ([productcate_id], [productcate_position], [productcate_title], [productcate_show], [productgroup_id], [title_web], [meta_title], [meta_keywords], [meta_description], [h1_seo], [link_seo], [productcate_parent], [productcate_content], [meta_image], [active], [hidden]) VALUES (7, NULL, N'Đồ Nam', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[tbProductCate] ([productcate_id], [productcate_position], [productcate_title], [productcate_show], [productgroup_id], [title_web], [meta_title], [meta_keywords], [meta_description], [h1_seo], [link_seo], [productcate_parent], [productcate_content], [meta_image], [active], [hidden]) VALUES (8, NULL, N'Đồ Trẻ Em', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tbProductCate] OFF
SET IDENTITY_INSERT [dbo].[tbSlide] ON 

INSERT [dbo].[tbSlide] ([slide_id], [slide_image], [slide_title], [slide_title1], [slide_link], [slide_summary], [slide_content], [hidden]) VALUES (3, N'web_module/image/banner1.jpg', N'upto 50% off', N'women''s Fashion', NULL, NULL, NULL, NULL)
INSERT [dbo].[tbSlide] ([slide_id], [slide_image], [slide_title], [slide_title1], [slide_link], [slide_summary], [slide_content], [hidden]) VALUES (4, N'web_module/image/banner2.jpg', N'upto 50% off', N'men''s Fashion', NULL, NULL, NULL, NULL)
INSERT [dbo].[tbSlide] ([slide_id], [slide_image], [slide_title], [slide_title1], [slide_link], [slide_summary], [slide_content], [hidden]) VALUES (5, N'web_module/image/banner3.jpg', N'upto 50% off', N'kid''s Fashion', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbSlide] OFF
SET IDENTITY_INSERT [dbo].[tbXuatHang] ON 

INSERT [dbo].[tbXuatHang] ([xuathang_id], [xuathang_code], [xuathang_createdate], [xuathang_content], [username_id], [hidden]) VALUES (2, N'XH00001', CAST(N'2020-11-13 20:00:25.690' AS DateTime), N'Xuất hàng dịch vụ', 1, NULL)
INSERT [dbo].[tbXuatHang] ([xuathang_id], [xuathang_code], [xuathang_createdate], [xuathang_content], [username_id], [hidden]) VALUES (3, N'XH00002', CAST(N'2020-11-14 10:11:58.620' AS DateTime), N'xuất hàng dịch vụ', 1, NULL)
SET IDENTITY_INSERT [dbo].[tbXuatHang] OFF
SET IDENTITY_INSERT [dbo].[tbXuatHang_ChiTiet] ON 

INSERT [dbo].[tbXuatHang_ChiTiet] ([xuathang_chitiet_id], [xuathang_id], [product_id], [xuathang_chitiet_soluong], [username_id]) VALUES (3, 2, 1, 5, 1)
INSERT [dbo].[tbXuatHang_ChiTiet] ([xuathang_chitiet_id], [xuathang_id], [product_id], [xuathang_chitiet_soluong], [username_id]) VALUES (4, 2, 2, 5, 1)
INSERT [dbo].[tbXuatHang_ChiTiet] ([xuathang_chitiet_id], [xuathang_id], [product_id], [xuathang_chitiet_soluong], [username_id]) VALUES (7, 3, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[tbXuatHang_ChiTiet] OFF
SET IDENTITY_INSERT [hel13271_nails].[tbNhomDichVu] ON 

INSERT [hel13271_nails].[tbNhomDichVu] ([dvcate_id], [dvcate_name], [position]) VALUES (1, N'Đồ Nam', 2)
INSERT [hel13271_nails].[tbNhomDichVu] ([dvcate_id], [dvcate_name], [position]) VALUES (2, N'Đồ nữ', 6)
INSERT [hel13271_nails].[tbNhomDichVu] ([dvcate_id], [dvcate_name], [position]) VALUES (3, N'Đồ trẻ em', 1)
SET IDENTITY_INSERT [hel13271_nails].[tbNhomDichVu] OFF
ALTER TABLE [dbo].[admin_AccessGroupUserForm]  WITH CHECK ADD FOREIGN KEY([form_id])
REFERENCES [dbo].[admin_Form] ([form_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_AccessGroupUserForm]  WITH CHECK ADD FOREIGN KEY([groupuser_id])
REFERENCES [dbo].[admin_GroupUser] ([groupuser_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_AccessGroupUserModule]  WITH CHECK ADD FOREIGN KEY([groupuser_id])
REFERENCES [dbo].[admin_GroupUser] ([groupuser_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_AccessGroupUserModule]  WITH CHECK ADD FOREIGN KEY([module_id])
REFERENCES [dbo].[admin_Module] ([module_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_AccessUserForm]  WITH CHECK ADD FOREIGN KEY([form_id])
REFERENCES [dbo].[admin_Form] ([form_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_AccessUserForm]  WITH CHECK ADD FOREIGN KEY([username_id])
REFERENCES [dbo].[admin_User] ([username_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_Form]  WITH CHECK ADD FOREIGN KEY([module_id])
REFERENCES [dbo].[admin_Module] ([module_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admin_User]  WITH CHECK ADD FOREIGN KEY([groupuser_id])
REFERENCES [dbo].[admin_GroupUser] ([groupuser_id])
ON UPDATE CASCADE
GO
